<style>
    .container {
        height: 100vh;
    }
    h1 {
        margin-top: 100px;
    }
</style>

{{> navbar }}
<div class="row">
    <div class="container bg-light col text-center">
        <h1>
            Congrats {{ name }} for making handlebars
        </h1>
    </div>
</div>